@import "tailwindcss";

@plugin '@tailwindcss/forms';

@variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html, body {
  width: 100%;
  height: 100%;
}